---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Simple Week 6 JavaScript </h1>
<div x-data="{a: ['Dr', 'Great Orator', 'Duke']}" id=PD> 
    <button id = "purple", "@click = "alert( a[1] )" >Click Me!</button>
</div>

