body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    
    text-align: center;
}

nav {
    height: 20vh;
    background: #212431;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin: 2vh;
    font-size:1.75vh;
    align-items: stretch;
}

nav ul li a {
    display: inline-block;
    align-items: baseline;
    padding: .5vh;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 5vh;
    justify-content:space-evenly;
}




#Panda{
    border-radius: 30px;
}